.login {
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  font-family: Ruda, sans-serif;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  padding: 27px 80px 245px;
}

@media (max-width: 991px) {
  .login {
    padding: 0 20px 100px;
  }
}

.img {
  aspect-ratio: 0.94;
  object-fit: contain;
  object-position: center;
  width: 244px;
  border-radius: 0px 0px 0px 0px;
  margin-top: 95px;
  max-width: 100%;
}

@media (max-width: 991px) {
  .img {
    margin-top: 40px;
  }
}

.title {
  font-size: 64px;
  margin-top: 15px;
}

@media (max-width: 991px) {
  .title {
    font-size: 40px;
  }
}

.description {
  font-size: 36px;
  text-align: center;
  margin-top: 15px;
}

@media (max-width: 991px) {
  .description {
    max-width: 100%;
  }
}